<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="{:url('gw/test/test')}" method="post" enctype="multipart/form-data">
        <input type="file" name="q" />
        <input type="file" name="w" />
        <input type="file" name="e" />
        <input type="file" name="r" />
        <input type="submit" value="上传文件" />
    </form>
</body>
</html>